
.table{
border-spacing: 0;
margin: 30px auto;
width: 700px;
height: 700px;


}

.table-data{
    border: 2px solid black;
    height: 50px;
    wi
}

.white{
    background-color: white;
}

.yellow{
    background-color: yellow;
}

.black{
    background-color: black;
}

.red{
    background-color: red;
}

.blue{
    background-color: blue;
}